@font-face {
    font-family: gilroy;
    src: url(./Gilroy-Light\ 300.woff2);
}
@font-face {
    font-family: monument;
    src: url(./MonumentExtended-Regular.woff2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
body{
    background-color: #F8F8F8;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #F8F8F8;
    padding-top: 0.1px;
}
#nav{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    height: 6vw;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 70px;
}
#nav h2{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3vh;
    font-weight: 300;
    padding-left: 8vh;
    padding-right: 10vh;
    border-left: 2px solid black;
}
#nav h2:nth-child(5){
    padding-right: 50px;
    font-size: 4vh;
    font-weight: 600;
}
#nav h2:nth-child(2){
    border: none;
}
#nav h1{
    font-family: monument;
    letter-spacing: -2px;
    position: relative;
}
#nav h1::after{
    content: "©";
    font-size: 2vh;
    font-weight: 300;
    position: absolute;
    top: 0%;
    right: -9%;
}
#nav h1::before{
    content: "model management";
    font-size: 2vh;
    font-weight: 200;
    font-family: gilroy;
    bottom: -13%;
    right: 3%;
    letter-spacing: 0.2px;
    position: absolute;
}
#overlay{
    height: 82vh;
    width: 100%;
    padding: 30px 14vh 0px 14vh;
}
#content{
    position: relative;
    width: 100%;
    height: 100%;
}
#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#content2{
    padding: 0px 40px;
    height: 35vh;
    width: 100%;
    bottom: 0;
    position: absolute;
}
.elem{
    height: 50%;
    width: 100%;
    border-top: 2px solid #FDFFFE;
}
.elem:nth-child(1){
    border-top: none;
}
#part1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#part1 h1{
    font-family: monument;
    color: #FDFFFE;
    mix-blend-mode: difference;
}
#part1 p{
    font-size: 12px;
    padding: 23px;
    border-radius: 50%;
    border: 1px solid #FDFFFE;
    color: white;
}
#part2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}
#part2 h3{
    color: #FDFFFE;
    text-transform: capitalize;
    font-weight: 100;
}
#animationdiv{
    height: 15vw;
    width: 100%;
    padding: 1vw;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}
#container{
    padding-top: 30px;
    animation: anime 10s linear infinite;
    overflow: hidden;
    display: inline-block;
    height: 100%;
    width: 126%;
}
#animationdiv img{
    margin-right: 30px;
    /* display: none; */
    height: 100%;
    width: 11vw;
    object-fit: cover;
    border-radius: 50%;
}
@keyframes anime {
    from{
        transform: translateX(0);
    }
    To{
        transform: translateX(-100%);
    }
}
#alphabet{
    height: 10vh;
    width: 100%;
    margin-top: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    text-transform: uppercase;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#alphabet h5{
    font-weight: 600;
    font-size: 3.6vh;
    font-style: italic;
    text-decoration: underline;
    letter-spacing: 0.6vh;
    margin-right: 5vh;
}
#alphabet h6{
    font-weight: 100;
    font-size: 3vh;
    font-style: italic;
    /* background-color: red; */
    padding: 0.5vh 0.9vh;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    transition: all ease 0.2s;
    cursor: pointer;
}
#alphabet h6:hover{
    border: 1px solid black;
}
#page2{
    padding: 40px 14vh;
    height: 90%;
    width: 100%;
    display: grid;
    grid-template-columns: 55% 43%;
    grid-template-rows: 94% 6%;
    gap: 20px;
}
#left{
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8cG9ydHJhaXR8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
    background-position-y: 20%;
}
#right{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 70% 30%;
}
#img{
    height: 100%;
    width: 100%;
    background-color: #fff;
    background-image: url(https://plus.unsplash.com/premium_photo-1682096252599-e8536cd97d2b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    border-bottom: 1px solid black;
}
#bottom2{
    display: grid;
    grid-template-columns: 50% 50%;
}
#text1 p{
    margin-top: 4vh;
    font-size: 3vh;
    font-weight: 600;
    width: 80%;
}
#text2 p{
    margin-top: 4vh;
    font-size: 2vh;
}
#bottom{
    height: fit-content;
}
#bottom h1{
    font-family: monument;
    font-weight: 700;
    text-transform: uppercase;
}
#page3{
    height: 90%;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 20px 14vh;
}
#page3 #left1{
    height: 100%;
    width: 100%;
}
#page3 #left1 #circlediv{
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page3 #left1 #circlediv img{
    animation: anime2 10s linear infinite forwards ;
}
@keyframes anime2 {
    from{
        rotate: 0deg;
    }
    to{
        rotate: 360deg
    }
}
#page3 #left1 #textdiv{
   height: 40%;
   width: 100%;
   display: flex;
   flex-direction: column-reverse;
   padding-left: 5vh;
}
#page3 #left1 #textdiv p{
    font-size: 3vh;
    font-weight: 600; 
    line-height: 4vh;
}
#page3 #right1{
    background-image: url(https://images.unsplash.com/photo-1506863530036-1efeddceb993?q=80&w=1488&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}
#page4{
    height: 100%;
    width: 100%;
    padding: 30px 14vh 20px 14vh;
}
#page4 #upper{
    height: 80%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1519085360753-af0119f7cbe7?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position-y: 20%;
}
#page4 #bottom{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monument;
    padding-top: 15px;
}
#page5{
    height: 80%;
    width: 100%;
    padding: 20px 14vh;
}
#page5 .elem{
    border-top: 1px solid black;
    height: 16vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    position: relative;
}
#page5 .elem:nth-last-child(1){
    border-bottom: 1px solid black;
}
#page5 .elem h1{
    text-transform: uppercase;
    width: 2vw;
    font-weight: 300;
    font-size: 2.8vh;
    padding-bottom: 2vw;
    line-height: 1.4vw;
}
#page5 .elem img{
    height: 90%;
    width: 6.4vw;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    left: 18%;
    transition: all ease 0.3s;
    opacity: 0;
}
#page5 .elem:hover img{
    left: 27%;
    opacity: 1;
}
#page5 #rightdiv{
    width: 50%;
}
#page5 #rightdiv h3{
    text-transform: capitalize;
    font-size: 6vh;
    font-weight: 400;
    letter-spacing: 0.01vh;
}
#page5 #rightdiv h5{
    text-transform: capitalize;
    font-size: 2vh;
    font-weight: 500;
    letter-spacing: 0.01vh;
}
#page6{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 4vw 14vh;
}
#page6 #left4{
    height: 100%;
    width: 45%;
    background-image: url(https://images.unsplash.com/photo-1581403341630-a6e0b9d2d257?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTV8fHBvcnRyYWl0fGVufDB8fDB8fHww);
    background-size: cover;
}
#page6 #right4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 45%;
}
#page6 #right4>h1{
    font-family: monument;
    text-transform: uppercase;
    font-weight: 300;
}
#page6 #right4 h5{
    font-size: 3vh;
    text-transform: capitalize;
}
#page6 #right4 p{
    font-size: 2vh;
    font-weight: 550;
}
#page6 #imgdiv{
    display: flex;
    justify-content: space-between;
    height: 50%;
}
#page6 #imgdiv img{
    height: 100%;
    width: 55%;
    object-fit: cover;
    object-position: 0% 20%;
}
#page6 #imgdiv img:nth-last-child(1){
    width: 40%;
}
#page7{
    height: 80%;
    width: 100%;
    padding: 0 14vh;
}
#page7 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0% 20%;
}
#page2copy{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5vh 14vh;
}
#left5{
    height: 100%;
    width: 50%;
    background-image: url(https://plus.unsplash.com/premium_photo-1670282393309-70fd7f8eb1ef?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position-y: 20%;
}
#right5{
    height: 100%;
    width: 45%;
}
#imgdiv5{
    height: 60%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1485178575877-1a13bf489dfe?q=80&w=1401&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}
#bottom5{
    height: 40%;
    display: flex;
    justify-content: space-between;
    padding-top: 7.8vh;
}
#bottom5 h1{
    font-size: 3.5vh;
    font-weight: 550;
    width: 50%;
}
#bottom5 h5{
    font-size: 2vh;
    font-weight: 400;
    width: 50%;
}
#footer{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 1vh 0;
    height: fit-content;
    width: 100%;
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}
@keyframes anime5 {
    from{
        transform: translate(0);
    }
    to{
        transform: translate(-100%);
    }
}
#footer h1{
    margin-left: 1vh;
    animation: anime5 10s linear infinite;
    /* background-color: blue; */
    display: inline-block;
    color: transparent;
    font-size: 8vh;
    text-transform: uppercase;
    font-family: monument;
    font-weight: 400;
    -webkit-text-stroke: 1px black;
}
#lastpage{
    height: 90%;
    width: 100%;
    padding: 8vh 14vh ;
    display: grid;
    grid-template-columns: 25% 35% 35%;
    gap: 3vh;
}
#lastpage #left6 h2{
    font-family: monument;
    text-transform: uppercase;
    font-size: 7vh;
}
#lastpage #center6{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#lastpage #center6 p{
    font-size: 3vh;
    line-height: 4vh;
    font-weight: 500;
}
#lastpage #center6 #imgdiv7{
    height: 60%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1581403341630-a6e0b9d2d257?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8bW9kZWwlMjBwb3J0cmFpdHxlbnwwfHwwfHx8MA%3D%3D);
    background-size: cover;
    background-position: 0% 10%;
}

#lastpage #center7{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#lastpage #center7 p{
    font-size: 3vh;
    line-height: 4vh;
    font-weight: 500;
}
#lastpage #center7 #imgdiv7{
    height: 60%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1501708001566-c11baa1b9599?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 0% 10%;
}

span{
    padding: 1vh 3vh;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 50%;
    border: 1px solid black;
}
#nav2{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    height: 15vw;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 70px;
}
#nav2 h2{
    text-transform: capitalize;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3vh;
    font-weight: 300;
    padding-left: 8vh;
    padding-right: 10vh;
    border-left: 2px solid black;
    border-right-width: 100%;
}
#nav2 h2:nth-child(5){
    padding-right: 50px;
    font-size: 4vh;
    font-weight: 600;
}
#nav2 h2:nth-child(2){
    border: none;
}
#nav2 h1{
    font-family: monument;
    letter-spacing: -2px;
    position: relative;
}
#nav2 h1::after{
    content: "©";
    font-size: 2vh;
    font-weight: 300;
    position: absolute;
    top: 0%;
    right: -9%;
}
#nav2 h1::before{
    content: "model management";
    font-size: 2vh;
    font-weight: 200;
    font-family: gilroy;
    bottom: -13%;
    right: 3%;
    letter-spacing: 0.2px;
    position: absolute;
}